#body .welcome-faqs-wrapper{
    max-width: 755px;
    margin: auto;
    margin-top: 219px;
}

#body .welcome-faqs-wrapper h2,h3,p{
    font-family: 'Mali';
    color: #483124;
}
#body .welcome-faqs-wrapper h2{
    font-size: 36px;
}

#body .welcome-faqs-wrapper h3{
    font-size: 32px;
}

#body .welcome-faqs-wrapper span{
    font-family: 'Knewave';
}

#body .welcome-faqs-wrapper #welcome-wrapper p{
    font-size: 32px;
    margin-top: 32px;
}

#body .welcome-faqs-wrapper hr{
    border-color: #483124;
    border-style: solid;
    margin: 108px 0 108px 0;
}

#body .welcome-faqs-wrapper #faqs-wrapper{
    text-align: center;
}

#body .welcome-faqs-wrapper #faqs-wrapper h2{
    font-size: 48px;
    font-weight: 700;
}

#body .welcome-faqs-wrapper #faqs-wrapper h3,p{
    font-family: 'Roboto';
}

#body .welcome-faqs-wrapper #faqs-wrapper h3{
    font-size: 32px;
    font-weight: 100;
    margin-top: 40px;
}

#body .welcome-faqs-wrapper #faqs-wrapper p{
    font-size: 20px;
}

@media (max-width: 430px){
    #body .welcome-faqs-wrapper{
        width: 378px;
        margin-top: 110px;
    }
}
